{% extends "base.html" %}

{% block content %}
<section class="event-detail">
    <button onclick="window.history.back()" class="back-button">Назад</button>
    <h2>{{ event.title }}</h2>
    <div class="event-description">
        <p>{{ event.description }}</p>
    </div>

    <!-- Секция изображений -->
    <div class="event-images">
        {% for image in images %}
            <img src="{{ image }}" alt="Изображение мероприятия" class="event-image">
        {% empty %}
            <p>Нет изображений для этого мероприятия.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}